<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Primary Meta Tags -->
        <title>Invite</title>
        <meta name="title" content="Invite" />
        <meta name="description" content="Shrimpify your Discord server." />
        <link rel="icon" sizes="192x192" href="/static/img/shrimp.svg">
        <meta name="theme-color" content="#c16a4f">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content=<%= host %> />
        <meta property="og:title" content="Invite" />
        <meta property="og:description" content="Shrimpify your Discord server." />
        <meta property="og:image" content="<%= host %>/static/img/shrimp.svg" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:url" content=<%= host %> />
        <meta property="twitter:title" content="Invite" />
        <meta property="twitter:description" content="Shrimpify your Discord server." />
        <meta property="twitter:image" content="<%= host %>/static/img/shrimp.svg" />

        <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/global.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    </head>

    <body>
        <div class="container">
            <% for(var i=0; i<bots.length; i++) {%>
                <div class="center-align">
                    <a href="https://discord.com/oauth2/authorize?client_id=<%= bots[i].id %>&permissions=65600&scope=bot" target="_blank" rel="noopener noreferrer">Shrimp bot <%= i %></a>
        
                    <% if (bots[i].guildCount === 100) { %>
                        <span>&emsp;•&emsp;Max guilds reached</span>
                    <%} else { %>
                        <span>&emsp;•&emsp;<%= bots[i].guildCount %> / 100 guilds</span>
                    <% } %>
                </div>
            <% } %>
        </div>

        <%- include('./partials/footer'); %>
    </body>
</html>